
div{
    border-style : solid;
    border-width: 5px; 
    padding: 30px; 
   border:none;
   }
.container{
    border-color: aqua; 
    border:none;
}
.row{
    border-color: black;
   border:none;
}
.back1{ 
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4000px;
}

.accord{
    color:black;
    
}
.imgscreenshot{
    width:400px;
    height: auto;
}
.title1{
   color:darkturquoise ;
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size: 70px;
       
}
.clean{
    margin:0 auto; 
   
    
}

.fart{
    width:150px;
    height:auto;
}

#test {
    float: left;
}
.dc{
    background-image:url(http://fc08.deviantart.net/fs70/i/2014/171/1/e/dc_comics_wallpaper__2560x1440__by_straxeh-d7n61xe.png);
.marvel{
    background-image:url('http://images8.alphacoders.com/415/415993.jpg');
}